.top_menu { background: url("../Img_new/new_images/top_menu.png") top center repeat-x; position: relative; z-index:4;}
.top_menu > div { clear: both; width: 1012px; margin: 0 auto; }
.top_menu > div.top_block { height: 42px; }
.top_menu > div.top_block:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.top_menu ul { margin: 0; }
.top_menu ul li { list-style: none; float: left; font-size: 12px; padding: 0 15px 0 0; margin: 0 8px 0 0;}
.top_menu ul li.first { padding-left: 0px; }

.top_menu .top_block .left_menu { float: left; display: none}
.top_menu .top_block .left_menu li { padding: 0 20px 0 7px; z-index: 3; position:relative; }
.top_menu .top_block .right_menu { float: right; }
.top_menu .top_block .right_menu li { padding: 0 0px 0 0; }
.top_menu .top_block .left_menu li.masterpass { z-index: 5;  }
.top_menu .top_block .left_menu li.masterpass.left { margin-left: -36px; }
.top_menu .top_block .left_menu li.masterpass a { background: url("../img/page/top-menu/masterpass-tab.png") no-repeat; text-indent: -999999px; width: 149px; height: 29px; display: block; }
.top_menu .top_block ul li { line-height: 42px; height: 42px; }
.top_menu .top_block ul li.active { background: #90be3d; background: -moz-linear-gradient(top, #a5ca3b, #7db340); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a5ca3b), color-stop(100%,#7db340)); background: -webkit-linear-gradient(top, #a5ca3b, #7db340); background: -o-linear-gradient(top, #a5ca3b, #7db340); background: -ms-linear-gradient(top, #a5ca3b, #7db340); background: linear-gradient(top, #a5ca3b, #7db340); border-radius: 3px 0px 0px 0; color: #233a42; text-shadow: 0 1px 0 #bfe440; position: relative; }
.top_menu .top_block ul li.active#ctl00_ctl01_mfo { padding-right: 31px; }
.top_menu .top_block ul li.active div { background-image: url("../img/page/top-menu/active_tab.png"); width: 19px; height: 31px; position: absolute; top: 0; right: 0; }
.top_menu .top_block ul li a { color: #3a3a3a; text-decoration: underline; text-transform:uppercase; }
.top_menu .top_block ul li a:hover { text-decoration: underline; }
.top_menu .top_block ul li span { color: #3a3a3a; text-decoration: none; text-transform:uppercase; }

.top_menu .top_block ul li.lk a { background: url("../img_new/new_images/lk.png") -2px -3px no-repeat; padding: 2px 0 2px 23px; }
.top_menu .top_block ul li.lk a:hover { text-decoration:underline !important; }
.top_menu .top_block ul li.payment_search a { background: url("../img_new/new_images/pay_search.png") -3px -3px no-repeat; padding: 2px 0 2px 19px; margin-right: 0; }
.top_menu .top_block ul li.payment_search a:hover { text-decoration:underline !important; }
.top_menu .top_block ul li.card_to_card a { background: url("../img/page/top-menu/c_to_c.png") -4px -3px no-repeat; padding: 3px 0 0 24px; }
.top_menu .top_block ul li.card_to_card a:hover { background: url("../img/page/top-menu/c_to_c_a.png") -4px -3px no-repeat; }
.top_menu .top_block ul li.language-switch { padding-right: 0px; margin-right: 0; top:9px; position:relative;}
.top_menu .top_block ul li.language-switch a.en { background: url("../img_new/new_images/flag_en.png") no-repeat; width: 22px; height: 22px; display: block; }
/*.top_menu .top_block ul li.language-switch a.en:hover { background: url("../img/lang-switcher/en-h.png") no-repeat; }*/
.top_menu .top_block .right_menu li a { color: #91d41c; }
.top_menu .bottom_block { height: 42px; background: #90be3d; background: -moz-linear-gradient(top, #7bb340, #3D812B); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7bb340), color-stop(100%,#3D812B)); background: -webkit-linear-gradient(top, #7bb340, #3D812B); background: -o-linear-gradient(top, #7bb340, #3D812B); background: -ms-linear-gradient(top, #7bb340, #3D812B); background: linear-gradient(top, #7bb340, #3D812B); border-radius: 0 0 3px 3px; }
.top_menu .bottom_block ul li { line-height: 40px; padding: 0 0px 0 13px; }
.top_menu .bottom_block ul li span { color: #fff; text-shadow: 0px -1px 0 rgba(55, 80, 88, 0.78); text-transform: uppercase; font-size: 12px; }
.top_menu .bottom_block ul li a { color: #3a3a3a;text-transform: none; font-size: 12px; }
.top_menu .bottom_block ul li a:hover { text-decoration: none; }
.right_login{
    position:absolute;
    right: 0px;
    top: 50px;
    text-transform: none !important; 
}
.top_menu .right_login li a { color: #a1ce4f !important; text-decoration: none !important; text-transform:none !important; }

.payment_search{
    padding-right:0px !important;
}
.middle {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 0;
    margin-right: -4px;
}
.top_menu .social_links {
    position: relative;
    float: left;
    height: 31px;
    padding-left: 13px;
}
.top_menu .social_link {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: 12px;
}
.top_menu .social_link.fb {
    width: 8px;
    height: 15px;
    background: url("../img/socials/ico_1.png") no-repeat;
    background-size: 100% 100%;
    top: -1px;
}
.top_menu .social_link.vk {
    width: 18px;
    height: 11px;
    background: url("../img/socials/ico_2.png") no-repeat;
    background-size: 100% 100%;
}
.top_menu .social_link.tw {
    width: 14px;
    height: 12px;
    background: url("../img/socials/ico_3.png") no-repeat;
    background-size: 100% 100%;
}
.top_menu .social_link.g {
    width: 18px;
    height: 12px;
    background: url("../img/socials/ico_4.png") no-repeat;
    background-size: 100% 100%;
}
.top_menu .social_link.in {
    width: 14px;
    height: 14px;
    background: url("../img/socials/ico_5.png") no-repeat;
    background-size: 100% 100%;
    top: -1px;
}
.top_menu .social_link.yt {
    width: 15px;
    height: 11px;
    background: url("../img/socials/ico_6.png") no-repeat;
    background-size: 100% 100%;
    top: 1px;
}
.top_menu .social_link.h {
    width: 9px;
    height: 12px;
    background: url("../img/socials/ico_7.png") no-repeat;
    background-size: 100% 100%;
}
.top_menu .social_link.m {
    width: 13px;
    height: 12px;
    background: url("../img/socials/ico_8.png") no-repeat;
    background-size: 100% 100%;
}
.top_menu .social_link.gt {
    width: 19px;
    height: 12px;
    background: url("../img/socials/ico_9.png") no-repeat;
    background-size: 100% 100%;
}